<div class="container">
  <h2>Car details</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Car ID:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{carId}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Mark:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{mark}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Model:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{model}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Power:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{power}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Torque:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{torque}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Pilot:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{pilotFirstName}}  {{pilotLastName}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Sponsor Id:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{sponsorId}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="carId">Spec:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{spec}}</p>
      </div>
    </div>
  </form>
</div>